<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_chat') }}">Czat</a>
        <div class="navbar-nav">
            {% if app.user %}
                <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                <a class="nav-link" href="{{ path('app_register') }}">Zarejestruj</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container mt-4">
    {% block body %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>